$white: #FFFFFF;
$offWhite: #F7F7F7;
$green: #0D8C60;
$darkGreen: #033A1A;
$lightGreen: #2A6D04;
$yellow: #FFCC00;
$darkBlue: #252638;
$grey: #8E91A2;
$lightGrey: #DBDBDB;
$darkGrey: #696B7E;
$darkGrey2: #707070;
$grey2: #96A1A8;
$black: #000000;
$black2: #0F101D;
$black3: #181818;
$lightDark: #333333;

