.icon-border {
    width: 106px;
    height: 106px;
    background-color: rgba($color: $white, $alpha: 0.5);
    border-radius: 100px;
    overflow: hidden;
    padding: 9px;

    -webkit-transform: translate(0, 85px);
    -ms-transform: translate(0, 85px);
    -o-transform: translate(0, 85px);
    -moz-transform: translate(0, 85px);
    transform: translate(0, 85px);
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    .icon {
        width: 100%;
        height: 100%;
        border-radius: 100px;
        margin: auto;
        background-color: $white;
        -webkit-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        img {
            width: 35px;
            height: auto;
        }

        .hover-in {
            display: none;
        }
    }
}

.page-details {
    .description {
        background-color: $green;
        color: $white;
        border-radius: 25px;
        width: 100%;
        max-width: 706px;
        padding: 50px 30px 50px 30px;
        box-shadow: 0px 2px 12px rgba($color: #000000, $alpha: 0.2);

        .top-text {
            color: $yellow;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 15px;
        }

        .title {
            font-size: 22px;
            line-height: 28px;
            font-weight: bold;

            @media (min-width: $xl) {
                font-size: 40px;
                line-height: 50px;
            }
        }

        .details-text,
        p {
            line-height: 22px;
            margin-bottom: 0;
            margin-top: 15px;
        }
    }

    figure {
        max-width: 396px;
        border-radius: 25px;
        box-shadow: 0px 2px 12px rgba($color: #000000, $alpha: 0.2);
    }
}

.all-projects {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 500px;
    background-image: url('../images/grey-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 388px;
    background-position: top left;
    display: table;
    width: 100%;

    .project-item {
        width: 100%;
        max-width: 268px;
        z-index: 1;
        margin-top: 25px;

        .project-bg {
            box-shadow: 0px 1px 4px rgba($color: #000000, $alpha: 0.2);
            border-radius: 15px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 366px;
            width: 100%;
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            overflow: hidden;
            z-index: -1;
            -webkit-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;

            .overlay {
                background-color: rgba($color: $white, $alpha: 0);
                display: block;
                width: 100%;
                height: 100%;
                -webkit-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;

            }
        }

        .project-details {
            padding: 30px 10px 0 10px;
            z-index: 1;
            height: 405px;
            overflow: hidden;
            -webkit-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;

            .short-description {
                line-height: 22px;
                color: $darkGrey;
                margin-top: 44px;
                font-size: 0;
                height: 0;
                -webkit-transition: all 0.1s;
                -ms-transition: all 0.1s;
                -moz-transition: all 0.1s;
                -o-transition: all 0.1s;
                transition: all 0.1s;
            }

            .title-read-more-link {
                background-color: $white;
                padding: 10px;
                border-radius: 10px;
                line-height: 23px;
                -webkit-transform: translate(0, 150px);
                -ms-transform: translate(0, 150px);
                -o-transform: translate(0, 150px);
                -moz-transform: translate(0, 150px);
                transform: translate(0, 150px);
                -webkit-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;

                .title {
                    font-size: 16px;
                    margin-bottom: 0;
                    font-weight: 600;
                    border-bottom: 0.5px solid rgba($color: $white, $alpha: 0.7);
                    padding-bottom: 10px;
                    -webkit-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                }

                .read-more-link {
                    color: $white;
                    margin-top: 10px;
                    font-weight: 600;
                    color: $white;
                    height: 0;
                    overflow: hidden;
                    -webkit-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                }
            }
        }

        &:hover {
            .project-bg {
                box-shadow: 0px 3px 12px rgba($color: #000000, $alpha: 0.2);

                .overlay {
                    background-color: rgba($color: $white, $alpha: 1.0);
                    -webkit-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                }
            }

            .project-details {

                .icon-border {
                    background-color: rgba($color: $green, $alpha: 0.5);
                    -webkit-transform: translate(0);
                    -ms-transform: translate(0);
                    -o-transform: translate(0);
                    -moz-transform: translate(0);
                    transform: translate(0);

                    .icon {
                        background-color: $green;


                        .hover-out {
                            display: none;
                        }

                        .hover-in {
                            display: block;
                        }
                    }
                }

                .short-description {
                    font-size: 14px;
                    height: auto
                }

                .title-read-more-link {
                    background-color: $green;
                    -webkit-transform: translate(0, 45px);
                    -ms-transform: translate(0, 45px);
                    -o-transform: translate(0, 45px);
                    -moz-transform: translate(0, 45px);
                    transform: translate(0, 45px);

                    .title {
                        color: $white;
                    }

                    .read-more-link {
                        height: auto;
                    }
                }
            }
        }
    }
}

.project-details {
    margin-bottom: 50px;

    .client-details {
        border-radius: 25px;
        width: 100%;
        max-width: 417px;
        box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.2);

        .project-title {
            background-position: center center;
            background-size: cover;
            height: 346px;
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: 100%;
            z-index: -1;

            .overlay {
                width: 100%;
                height: 100%;
                background-color: rgba($color: $green, $alpha: 0.7);
                padding-top: 52px;

                .icon-border {
                    -webkit-transform: none;
                    -ms-transform: none;
                    -o-transform: none;
                    -moz-transform: none;
                    transform: none;
                }

            }

            .title {
                color: $white;
                font-size: 20px;
                font-weight: 600;
                margin-top: 38px;
            }
        }

        .client-data {
            background-color: $white;
            margin-top: 268px;
            border-radius: 25px;
            width: 100%;
            max-width: calc(100% - 28px);
            padding: 30px 20px;

            .mb-30px {
                margin-bottom: 30px;
            }

            .c-label {
                font-weight: 600;
                font-size: 16px;
                color: $darkBlue;
            }

            .c-value,
            .comments {
                color: $darkGrey;
                line-height: 22px;
            }

            .comments {
                margin-top: 20px;
            }
        }
    }
}

.text-con {
    width: 100%;
    max-width: 640px;
    font-size: 14px;
    line-height: 22px;
    color: $darkGrey;

    .title {
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        color: $darkBlue;
        margin-bottom: 20px;

        @media (min-width: $xl) {
            font-size: 42px;
            line-height: 52px;
        }
    }

    p,
    ul,
    ol {
        margin-bottom: 20px;
    }
    img{
        width: auto;
    }

    a {
        color: $green;

        &:hover {
            text-decoration: underline;
        }
    }
}